body {
    height: unset;
    width: 400px;
}
.container {
    margin: 20px;
    text-align: center;
}
.wordChangerField button {
    width: 70%;
}
.wordChangerField {
    text-align: center;
}
/* .ui.section.divider {
    margin: 1rem 0;
} */
.item {
    justify-content: center;
    width: 50%;
}
.addToDictionary input {
    margin: 0 !important;
}